  h3
  {
    font-size: 25px !important;
  }
  canvas {
  	border:1px solid black;
      animation-name: clown;
      animation-duration: 4s;
      animation-iteration-count: infinite;
  }
@keyframes clown{
    from{box-shadow: 1px 1px 38px #f0230c;}
    to{box-shadow: 1px 1px 38px #2e31d1;}
}
.btn-success:hover{
    background-color: #ede72d;
}